@charset "UTF-8";


body {
    background-image: linear-gradient(to bottom, #5D3284, #49a09d);
    background-position: fixed;
    background-size: cover;
}

#login {
    min-width: 700px;
    max-width: 1000px;
}

#imagem {
    width: 500px;
    border-radius: 0px 20px 20px 0px;
}

#iemail, #isenha {
    width: 80%;
}