@charset "UTF-8";


body {
    background-image: linear-gradient(to bottom, #5D3284, #49a09d);
    background-position: fixed;
    background-size: cover;
}

#login {
    min-width: 700px;
    max-width: 1000px;
    height: 50%;
}

#imagem {
    width: 34%;
    border-radius: 0px 20px 20px 0px;
    float: right;
    background-position: left center;
    height: 100%;
}

#formulario {
    float: left;
    width: 60%;
}

#iemail, #isenha {
    width: 87%;
}